.register-form {
    padding: 5px;
    width: 40vw;
    margin: 0 auto;
}

/* label */
.register-content__label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.register-content__label--span {
    font-size: 12px;
}

.register-content__label--span:first-of-type {
    padding: 2px 8px;
    background-color: #FD0707;
    color: #FFFFFF;
}

.register-content__label--span:nth-of-type(2) {
    color: #FD0707;
}

/*-------------------------------------------
 ■ input
-------------------------------------------*/

.register-content__input,
.register-content__textarea,
.register-content__image {
    display: block;
    width: 100%;
}

/* margin bottom */
.register-content__input,
.register-content__textarea,
.register-content__image,
.register-content__label{
margin-bottom: 15px;
}

.register-content__group {
    padding: 5px;
}

.register-content__input,
.register-content__textarea {
    padding: 12px;
    background-color: #FFFFFF;
}

.register-content__textarea {
    height: 150px;
    resize: none;
}

.register-content__title {
    text-align: left;
    margin-bottom: 24px;
}

/* 画像プレビュー */
.image-preview {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/* カスタムボタン */
.register-custom__btn{
    margin: 5px 0;
}

/* error */
.errors-message {
    color: #FD0707;
    font-size: 14px;
}