.show-wrapper {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

/* link */

.show-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.show-link__products {
    color: #0085FF;
}

.show-link__span:first-of-type {
    margin: 0 5px;
}

/* detail */

.show-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
}


.show-detail__item{
        width: 45%;
    height: 350px;
}

.show-detail__img {
    width: 50%;
    height: 400px;
}

.show-detail__img--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    object-position: center;
}

.show-detail__item--label {
    display: block;

}

.show-detail__item--label:last-child{
    background-color: green;
}

.detail-error{
    min-height: 30px;
}

.show-detail__item--label,
.show-detail__item--input,
.show-detail__checkbox {
    margin-bottom: 15px;
   
} 


.show-detail__item--input {
    width: 100%;
    border: 1px solid #ddd;
    background: white;
    border-radius: 5px;
    padding: 10px;
}

.show-detail__check-group {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.show-detail__description{
    width: 100%;
    padding: 10px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* btns */

.detail-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px 0 50px;
}


/* 調製中 */
.detail-custom__btn{
    display: block;
    margin-bottom: 20px;
}